<!DOCTYPE html>
<html>
    <body background="http://www.planwallpaper.com/static/images/518169-backgrounds.jpg">
        <div class="container">
        <h3>Todo #<%= params[:id] %></h3>
        <a href="index.html" id="Edit">Edit</a><br>
        <a href="index.html" id="Delete">Delete</a><br>
        <a href="index.html" id="GoBack">Go Back</a>
        </div>
    </body>
</html>